body, html {
    text-align: center;
    height: 100%;
  }
  
.parallax {
    /* The image used */
    background-image: url("../images/background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    height:60px;

    background-color: white transparent;

    font-size:50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    margin-left: 700px;
}