body, html {
    text-align: center;
    height: 100%;
  }
  
.parallax {
    /* The image used */
    background-image: url("../images/background.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.info {
    height:500px;
    
    background-color: transparent;
    
    font-size:60px;
}